# ignore unpublic data source
data/BN-CS_NER/train.conll
data/BN-CS_NER/dev.conll
data/BN-CS_NER/test.conll

# ignore all original large datesets
data/davidson/original_davidson.csv
data/hatexplain/original_hatexplain.csv
data/wiki-detox/original_detox.tsv
data/wiki-detox/toxicity_annotations.tsv


# ignore all files in text_compose folder
text_compose/*/.*
text_compose/*/*
# excetption rules for relevant files
!text_compose/*/*.tex
!text_compose/*/*.pdf
!text_compose/*/*.bib
